<div class="profile-container">

  <!-- HEADER -->
  <div class="profile-header">

    <button class="profile-btn-secondary-logout" 
      *ngIf="!showCreatePost" (click)="logout()">
      Cerrar sesión
    </button>

    <!-- BOTÓN DASHBOARD -->
    <button class="profile-dashboard-btn"  
      (click)="goToDashboard()">
      <i class="bi bi-house-door-fill"></i>
    </button>

    <div class="profile-cover"></div>
    <div class="profile-info">

      <!-- AVATAR -->
      <div class="profile-avatar">
        <img *ngIf="avatar" [src]="avatar">
        <i *ngIf="!avatar" class="bi bi-person-circle"></i>
      </div>

      <h2>{{name}}</h2>
      <p class="profile-username">@{{username}}</p> 
      <p class="profile-bio">{{ bio }}</p>

      <!-- BOTONES -->
      <div class="profile-actions">
        <button class="profile-btn-primary" (click)="goToEditProfile()">Editar Perfil</button>

        <button class="profile-theme-toggle" (click)="toggleTheme()">
          <i class="bi" [ngClass]="isDarkMode ? 'bi-sun-fill' : 'bi-moon-fill'"></i>
        </button>

        <button class="profile-btn-secondary-Follow" (click)="openFollowingModal()">Siguiendo</button> 
        <button class="profile-btn-secondary-Followers" (click)="openFollowersModal()">Seguidores</button>
      </div>

      <!-- FAB -->
      <button class="fab-create-post" (click)="openCreatePost()">
        <i class="bi bi-plus-lg"></i>
      </button>

    </div>
  </div>

  <!-- ============================= -->
  <!-- ESTADO VACÍO -->
  <!-- ============================= -->
  <div *ngIf="posts.length === 0" class="empty-state">
    <i class="bi bi-image"></i>
    <h3>No has publicado nada</h3>
    <p>Comparte tu primer post</p>

    <button class="create-post-btn" (click)="openCreatePost()">
      Crear publicación
    </button>
  </div>

  <!-- ============================= -->
  <!-- GRID -->
  <!-- ============================= -->
  <div class="profile-posts-grid" *ngIf="posts.length > 0">

    <div class="profile-post-card" *ngFor="let post of posts">

      <!-- HOVER -->
      <div class="post-hover">
        <span><i class="bi bi-heart"></i> {{ post.likes || 0 }}</span>
        <span><i class="bi bi-chat"></i> {{ post.comments?.length || 0 }}</span>
        <span><i class="bi bi-repeat"></i> {{ post.reposts || 0 }}</span>
      </div>

      <!-- IMAGEN -->
      <img 
        *ngIf="post.type === 'image'"
        [src]="post.image" 
        (click)="openPostDetail(post)">

      <!-- TEXTO -->
      <div 
        *ngIf="post.type === 'text'"
        class="text-post"
        (click)="openPostDetail(post)">
        <p>{{ post.description }}</p>
      </div>

    </div>

  </div>



<!--________________________________________________  MODAL ________________________________________ -->

  <!-- ============================= -->
  <!-- MODAL CREATE POST -->
  <!-- ============================= -->
  <app-create-post  
    *ngIf="showCreatePost"
    [mode]="editingPost ? 'edit' : 'create'"
    [postData]="editingPost"
    (close)="closeCreatePost()"
    (postCreated)="handleNewPost($event)">
  </app-create-post>



  <!-- ============================= -->
  <!-- MODAL POST DETALLE -->
  <!-- ============================= -->
  <div class="post-modal" *ngIf="selectedPost">

    <div class="post-card">

      <!-- CERRAR -->
      <button class="close-btn" (click)="closePostDetail()">
        <i class="bi bi-x-lg"></i>
      </button>

      <!-- IMAGEN -->
      <img [src]="selectedPost.image" class="post-image">

      <!-- SOCIAL -->
      <div class="post-social">

        <span (click)="toggleLike(selectedPost)">
          <i 
            class="bi" 
            [ngClass]="selectedPost.liked ? 'bi-heart-fill' : 'bi-heart'">
          </i>
          {{ selectedPost.likes }}
        </span>

        <span>
          <i class="bi bi-chat"></i>
          {{ selectedPost.comments?.length || 0 }}
        </span>

        <span (click)="repost(selectedPost)">
          <i 
            class="bi"
            [ngClass]="selectedPost.repostedBy?.includes(username) 
            ? 'bi-repeat text-success' : 'bi-repeat'">
          </i>
          {{ selectedPost.reposts }}
        </span>

      </div>

      <!-- INFO -->
      <div class="post-info">

        <p>{{ selectedPost.description }}</p>

        <!-- ============================= -->
        <!-- COMENTARIOS (LIMPIO) -->
        <!-- ============================= -->
        <div class="comments-section">

          <div class="comments-list">

            <div *ngFor="let c of selectedPost.comments" class="comment">

              <!-- AVATAR -->
              <div class="comment-avatar">
                <img *ngIf="c.avatar" [src]="c.avatar">
                <i *ngIf="!c.avatar" class="bi bi-person-circle"></i>
              </div>

              <!-- CONTENIDO -->
              <div class="comment-content">

                <div class="comment-header">

                  <span class="comment-user">@{{ c.user }}</span> <!-- c.user va salir el @usuario en la vista-->

                  <!-- MENU -->
                  <div class="comment-menu-wrapper">
                    <i class="bi bi-three-dots" (click)="toggleCommentMenu(c)"></i>

                    <div class="comment-menu" *ngIf="c.showMenu && c.user === username">
                      <button (click)="deleteComment(selectedPost, c)">Eliminar</button>
                      <button (click)="c.showMenu = false">Cancelar</button>
                    </div>
                  </div>

                </div>

                <p class="comment-text">{{ c.text }}</p>

              </div>

            </div>

          </div>

          <!-- INPUT -->
          <div class="comment-input-box">
            <input 
              type="text"
              [(ngModel)]="newComment"
              placeholder="Escribe un comentario...">

            <button (click)="addComment(selectedPost)">
              <i class="bi bi-send-fill"></i>
            </button>
          </div>

        </div>

        <!-- HASHTAGS -->
        <div class="post-tags" *ngIf="selectedPost.hashtags?.length">
          <span *ngFor="let tag of selectedPost.hashtags">
            #{{ tag }}
          </span>
        </div>

        <small>{{ selectedPost.createdAt | date:'short' }}</small>

      </div>

      <!-- ACCIONES -->
      <div class="post-actions">
        <button (click)="editPost(selectedPost)">
          <i class="bi bi-pencil"></i>
        </button>

        <button (click)="deletePost(selectedPost)">
          <i class="bi bi-trash"></i>
        </button>
      </div>

    </div>

  </div>

  <!-- ============================= -->
  <!-- CONFIRM DELETE -->
  <!-- ============================= -->
  <div class="confirm-modal" *ngIf="postToDelete">
    <div class="confirm-card">

      <h3>¿Eliminar publicación?</h3>
      <p>Esta acción no se puede deshacer</p>

      <div class="confirm-actions">
        <button class="cancel" (click)="postToDelete=null">Cancelar</button>
        <button class="delete" (click)="confirmDelete()">Eliminar</button>
      </div>

    </div>
  </div>


<!-- ============================= -->
<!-- MODAL FOLLOWERS --- SEGUIDORES  --> 
<!-- ============================= -->
<div class="follow-modal-overlay" *ngIf="showFollowersModal">

  <div class="follow-modal-card">

    <button class="follow-close-btn" (click)="closeFollowersModal()">
      <i class="bi bi-x-lg"></i>
    </button>

    <h2>Seguidores</h2>
    <div class="follow-list">
      <div class="follow-user-card" *ngFor="let follower of followers">

        <div class="follow-user-info">
          <div class="follow-avatar">
            <i class="bi bi-person-circle"></i>
          </div>

          <div>
            <h4>{{ follower.name }}</h4>
            <p>@{{ follower.username }}</p>
          </div>
        </div>

        <div class="follow-actions">
          <button class="follow-btn" [class.following]="follower.isFollowing"
            (click)="followUser(follower)">
            {{ follower.isFollowing ? 'Siguiendo' : 'Seguir' }}
          </button>

          <button class="remove-btn" (click)="removeFollower(follower)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

</div>






  <!-- ===================================== -->
  <!-- MODAL FOLLOWING --- SIGUIENDO -->
  <!-- ===================================== -->
  <div class="overlay" *ngIf="showFollowingModal">

    <div class="follow-glass-card">

      <!-- HEADER -->
      <div class="follow-header">
        <h3>Siguiendo</h3>

        <button 
          class="close-btn"
          (click)="closeFollowingModal()">
          ✕
        </button>

      </div>

      <!-- LISTA -->
      <div class="follow-list">

        <div 
          class="follow-user"
          *ngFor="let user of following">

          <div class="follow-user-info">
            <div class="follow-avatar">

              <img *ngIf="user.avatar" [src]="user.avatar">
              <i *ngIf="!user.avatar" class="bi bi-person-circle"> </i>

            </div>

            <div>
              <h4>{{ user.name }}</h4>
              <p>@{{ user.username }}</p>
            </div>

          </div>

          <div class="follow-user-actions">
            <button class="following-btn"
              [class.following]="user.isFollowing"
              (click)="followUser(user)">{{ user.isFollowing ? 'Siguiendo' : 'Seguir' }}
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>