<div class="profile-container">

  <!-- HEADER CON PORTADA -->
  <div class="profile-header">
    <div class="profile-cover"></div>

    <div class="profile-info">

      <!-- AVATAR DINÁMICO / FOTO DE PERFIL -->
      <div class="profile-avatar">
        <img *ngIf="avatar" [src]="avatar">
        <i *ngIf="!avatar" class="bi bi-person-circle"></i>
      </div>

      <h2>{{name}}</h2>
      <p class="profile-username">@{{username}}</p> 
      <p class="profile-bio"></p> <!-- Va la DESCRIPCIÓN-->

      <!-- BOTONES -->
      <div class="profile-actions">
        <button class="profile-btn-primary">Editar Perfil</button>
        <button class="profile-btn-secondary" (click)="toggleTheme()">Cambiar Modo</button>
        <button class="profile-btn-secondary-logout" (click)="logout()">Cerrar sesión</button>
      </div>

    </div>
  </div>

  <!-- POSTS -->
  <div class="profile-posts-grid">
    <div class="profile-post-card" *ngFor="let post of posts">
      <img [src]="post.image">
    </div>
  </div>

</div>