.dashboard-container {
  display: flex;
  min-height: 100vh;

  background: var(--color-background);

  color: var(--color-text);
}

/* SIDEBAR */
.dashboard-sidebar {
  width: 240px;
  padding: 25px 20px;

  border-right:
    1px solid rgba(255,255,255,0.08);

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(20px);

  position: sticky;
  top: 0;

  height: 100vh;
}

/* LOGO */
/* ===================================== */
/* LOGO DASHBOARD */
/* ===================================== */

.dashboard-logo-container {

  display: flex;
  flex-direction: row; /*column; */

  justify-content: flex-start; /*center; */
  align-items: center;

  width: 110px;
  height: 110px;

  gap: -4px;
  margin-bottom: -8px; /*Ajustes el la distancia del texto*/
  padding-left: 2px; /*Se meuve hacia un lado*/
  position: relative;
  transition: 0.3s ease;

  /*para que el texto no se vea separado*/
  flex-direction: column;
  
  /*muevo el logotipo xd*/
  transform: translateX(-2px); /*derecha (+), izquierda(-)*/

}



/* IMAGEN */
.dashboard-logo-img {

/*Cambio el tamaño de la imagen*/
  width: 100px;
  height: 100px;

  object-fit: contain;

  animation:
    floatLogo 3s ease-in-out infinite;

  filter:
    drop-shadow(0 0 10px rgba(0,0,0,0.25));

  transition: 0.3s ease;
}



/*_____________________ ANIMACIÓN LOGOTIPO DEL DASHBOARD  ______________________________*/
/* CONTENEDOR ANIMACION */

.dashboard-logo-wrapper{

  position: relative;

  width: 95px;
  height: 95px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;


}

/*IMAGEN SUPERPUESTAS*/
/* IMAGENES */

.logo-normal,
.logo-blink{

  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: contain;

}


/*________________  ANIMACIÓN DE PAPADEO DE LOS LOGOS   _________________________*/
/* LOGO NORMAL */
.logo-normal{
  opacity: 1;
  animation: blinkNormal 4s infinite;

}

/* LOGO PARPADEO */
.logo-blink{
  opacity: 0;
  animation: blinkAlt 4s infinite;

}


/* TEXTO */
.dashboard-logo-text {

  margin: 0;

  font-size: 22px;
  font-weight: 700;  /*bold;*/

  margin-left: 80px; /*izquieda (+), derecha (-)*/
  margin-top: -40px; /*abajo (+), arriba(-)*/

  letter-spacing: 0.5px;

  color: var(--color-primary);
  line-height: 1;
  transition: 0.3s ease;

  /*gap: -90px;*/
}

/* HOVER */

.dashboard-logo-container:hover .dashboard-logo-img{

  transform: scale(1.05);

}

.dashboard-logo-container:hover .dashboard-logo-text{

  color: var(--color-accent);

}






/*____________________________________      ANIMACIONES DEL LOGOTIPO    ______________________________________________*/


/* ANIMACION */
@keyframes floatLogo {

  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-4px);
  }

  100%{
    transform: translateY(0px);
  }

}




/* MENU */

.dashboard-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 12px; 
}

.dashboard-link {
  border: none;

  background: transparent;

  color: var(--color-text);

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 16px;

  border-radius: 18px;

  cursor: pointer;

  transition: 0.25s ease;

  font-size: 15px;
}

.dashboard-link i {
  font-size: 20px;
}

/* HOVER */

.dashboard-link:hover {
  background:
    rgba(255,255,255,0.08);

  transform: translateX(3px);
}

/* ACTIVE */

.dashboard-link.active {
  background:
    linear-gradient(
      135deg,
      var(--color-primary),
      var(--color-accent)
    );

  color: white;
}

/* MAIN */

.dashboard-main {
  flex: 1;
  padding: 25px;
  min-height: 100vh;
}




/*________________________________   FEED POST  _____________________________________*/
/* ===================================== */
/* FEED POSTS */
/* ===================================== */

.feed-posts-grid{
  column-count: 3;
  column-gap: 15px;

  padding: 20px;

  width: 100%;
  max-width: 1400px;
  margin: auto;
}


.feed-post-card{  /* CARD */
  break-inside: avoid;
  margin-bottom: 15px;
  border-radius: 22px;
  overflow: hidden;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.06);
  transition: 0.25s ease;
  cursor: pointer;
  position: relative;

}


.feed-hover {
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: 15px;

  opacity: 0;
  transition: 0.25s ease;

  z-index: 2;
}

.feed-post-card:hover .feed-hover {
  opacity: 1;
}


.feed-hover span {
  color: white;

  display: flex;
  align-items: center;
  gap: 5px;
}


.feed-post-card:hover{ /* HOVER */
  transform: translateY(-4px) scale(1.01);
  background: rgba(255,255,255,0.08);
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}


.feed-post-card img{  /* IMAGEN */
  width: 100%;
  border-radius: 15px;
  transition: 0.3s ease;
  display: block;
  object-fit: cover;
}

.feed-post-card img:hover {
  transform: scale(1.03);
}


.text-post{ /* TEXTO */
  padding: 18px;
  font-size: 15px;
  line-height: 1.5;
  color: var(--color-text);
}







/*___________________________     PARTE DEL MODAL    EN POST PREVIEW     ____________________________*/
/*________________________________________
   MODAL PREVIEW POST
________________________________________*/

.post-modal{
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  padding: 20px;
}


/* CARD PRINCIPAL */
.post-view-card{

  width: 560px;
  max-width: 92%;

  max-height: 88vh;

  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 28px;

  background: rgba(20,20,30,0.78);

  backdrop-filter: blur(24px);

  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 15px 40px rgba(0,0,0,0.45);

  padding: 18px;

  position: relative;

  animation: scaleIn 0.22s ease;
}


/* SCROLL */
.post-view-card::-webkit-scrollbar{
  width: 6px;
}

.post-view-card::-webkit-scrollbar-track{
  background: rgba(255,255,255,0.08);
  border-radius: 10px;
}

.post-view-card::-webkit-scrollbar-thumb{
  background: var(--color-primary);
  border-radius: 10px;
}


/* MEDIA */
.post-media{
  width: 100%;
  margin-bottom: 14px;
}

.post-image{
  width: 100%;

  max-height: 420px;

  object-fit: contain;

  border-radius: 18px;

  background: #0b0b0b;

  display: block;
}


/* CONTENIDO */
.post-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/* TEXTO */
.modal-text-post{

  background: rgba(255,255,255,0.05);

  border-radius: 18px;

  padding: 16px;

  font-size: 14px;
  line-height: 1.6;

  color: white;

  word-break: break-word;
}


/* FECHA */
.post-date{
  font-size: 12px;
  opacity: 0.6;
}


/* TAGS */
.post-tags{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.post-tags span{

  background: rgba(95,208,214,0.14);

  color: #5fd0d6;

  padding: 7px 12px;

  border-radius: 20px;

  font-size: 11px;
  font-weight: 600;

  transition: 0.2s ease;
}

.post-tags span:hover{
  background: #5fd0d6;
  color: black;
}


/* SOCIAL */
.post-social{

  display: flex;
  align-items: center;

  gap: 18px;

  padding-top: 6px;
}

.post-social span{

  display: flex;
  align-items: center;
  gap: 6px;

  cursor: pointer;

  transition: 0.2s ease;
}

.post-social span:hover{
  transform: scale(1.08);
  color: var(--color-primary);
}


/* BOTONES */
.post-actions{

  display: flex;
  justify-content: flex-end;

  gap: 12px;

  margin-top: 10px;
}

.post-actions button{

  border: none;

  padding: 10px 16px;

  border-radius: 16px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  transition: 0.2s ease;
}


/* EDIT */
.edit-btn{

  background: rgba(255,255,255,0.08);

  color: var(--color-primary);
}

.edit-btn:hover{

  background: var(--color-primary);

  color: white;

  transform: scale(1.05);
}


/* DELETE */
.delete-btn{

  background:
    linear-gradient(
      135deg,
      var(--color-secondary),
      var(--color-accent)
    );

  color: white;
}

.delete-btn:hover{

  transform: scale(1.05);

  box-shadow:
    0 8px 20px rgba(0,0,0,0.35);
}


/* CLOSE */
.close-btn{

  position: absolute;

  top: 14px;
  right: 14px;

  width: 38px;
  height: 38px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  background: rgba(255,255,255,0.08);

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;
}

.close-btn:hover{

  background: var(--color-secondary);

  transform:
    scale(1.08)
    rotate(8deg);
}


/* ANIMACION */
@keyframes scaleIn{

  from{
    transform: scale(0.9);
    opacity: 0;
  }

  to{
    transform: scale(1);
    opacity: 1;
  }
}



























/* SEARCH */
.dashboard-search {
  width: 100%;
  max-width: 750px;

  margin: auto;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 14px 18px;

  border-radius: 25px;

  background:rgba(255,255,255,0.08); /*COLOR DE LA BARRA DEL BUSCADOR"*/

  backdrop-filter: blur(20px);
  margin-bottom: 50px;
}

.dashboard-search input {
  width: 100%;

  background: transparent;
  border: none;
  outline: none;

  color: var(--color-text);

  font-size: 15px;
}


.dashboard-search input::placeholder {
  color: var(--color-text);
  opacity: 0.55;          /* Suave pero legible */
  transition: opacity 0.2s ease;
}

.dashboard-search input:focus::placeholder {
  opacity: 0.3;           /* Al enfocar, se vuelve más sutil */
}








/* EMPTY */
.dashboard-empty {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

  margin-top: 120px;

  opacity: 0.8;
}

.dashboard-empty i {
  font-size: 90px;

  color: var(--color-primary);

  margin-bottom: 20px;
}

.dashboard-empty h2 {
  margin-bottom: 10px;
}

.dashboard-empty p {
  max-width: 350px;
}

/* RIGHT BAR */
.dashboard-rightbar {
  width: 320px;
  padding: 15px 20px;

  border-left:
    1px solid rgba(255,255,255,0.08);

  background:  rgba(255,255,255,0.04);
  backdrop-filter: blur(20px);

  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.dashboard-rightbar h3 {
  margin-bottom: 20px;
}



.suggest-user { /* SUGGEST USERS/ SUGERENCIAS DE USUSARIOS */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;

  padding: 12px;

  border-radius: 18px;

  background:
    rgba(255,255,255,0.05);

  transition: 0.2s ease;
}

.suggest-user:hover {
  background:
    rgba(255,255,255,0.08);
}

.suggest-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.suggest-avatar i {
  font-size: 42px;

  color: var(--color-primary);
}

.suggest-info h4 {
  margin: 0;
}

.suggest-info p {
  margin: 0;

  font-size: 13px;

  opacity: 0.7;
}

/* BUTTON */

.suggest-user button {
  border: none;

  padding: 8px 14px;

  border-radius: 14px;

  cursor: pointer;

  background:
    linear-gradient(
      135deg,
      var(--color-primary),
      var(--color-accent)
    );

  color: white;

  transition: 0.2s ease;
}

.suggest-user button:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */

@media(max-width:1100px){

  .dashboard-rightbar{
    display:none;
  }

}

@media(max-width:800px){

  .dashboard-sidebar{
    width:90px;
  }

  .dashboard-link span,
  .dashboard-logo h2{
    display:none;
  }

}





/* ===================================== */
/* CREATE POST BUTTON */
/* ===================================== */

.dashboard-create-post{

  position: fixed;

  right: 30px;
  bottom: 30px;

  width: 68px;
  height: 68px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(
      135deg,
      var(--color-primary),
      var(--color-accent)
    );

  color: white;

  font-size: 26px;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.25);

  transition: 0.25s ease;

  z-index: 999;

}


.dashboard-create-post:hover{ /* HOVER */

  transform:
    scale(1.08)
    rotate(90deg);

}


/*________________________________________   SETTING / CONFIGURACIÓN    ____________________________________*/
/* ===================================== */
/* SETTINGS MODAL */
/* ===================================== */

.settings-modal{
  width: 400px;

}


/* HEADER */
.settings-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

}


.settings-header h3{
  margin: 0;
  color: var(--color-text);

}


/* OPCIONES */
.settings-options{
  display: flex;
  flex-direction: column;
  gap: 14px;

  /*background: rgba(255, 255, 255, 0.08);*/
  /*se mantendra por defecto el fondo blaco*/

}


/* BOTONES */
.settings-option{
  width: 100%;
  padding: 16px;

  border: none;
  border-radius: 18px;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 14px;

  font-size: 15px;
  color: var(--color-text);

  background:rgba(255,255,255,0.08);
  transition: 0.25s ease;

}


/* ICONOS */
.settings-option i{
  font-size: 22px;

}


/* HOVER */
.settings-option:hover{

  transform:
    translateY(-2px)
    scale(1.01);

  background:
    rgba(255,255,255,0.12);

}


/* LOGOUT */
.settings-option.logout{
  background:
    rgba(255, 80, 80, 0.12);

  color: #ff6b6b;

}


/* ===================================== */
/* OVERLAY */
/* ===================================== */

.overlay{
  position: fixed;
  inset: 0;
  z-index: 2000;

  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(18px);

  display: flex;
  align-items: center;
  justify-content: center;

  animation: fadeIn 0.25s ease;

}


/* GLASS CARD */
.glass-card{
  padding: 25px;
  border-radius: 24px;

  background:
    linear-gradient(
      135deg,
      rgba(255,255,255,0.08),
      rgba(255,255,255,0.03)
    );

  backdrop-filter: blur(25px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 15px 40px rgba(0,0,0,0.35);

}


/* CLOSE BTN */
.close-btn{
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  color: var(--color-text);
  background: rgba(255,255,255,0.08);
  transition: 0.25s ease;

}


.close-btn:hover{
  background: var(--color-accent);
  color: white;
  transform: scale(1.08) rotate(8deg);

}



/* ANIMACION */
@keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }

}


/**/