<div class="dashboard-container">
  <aside class="dashboard-sidebar"> <!-- SIDEBAR -->

    <!-- LOGO -->
    <div class="dashboard-logo-container">
      <img
        src="assets/imagenes/TiPictosLogo.png"
        alt="TiPictos"
        class="dashboard-logo-img">
    </div>

    <h2 class="dashboard-logo-text">TiPictos</h2>

    <!-- MENU -->
    <nav class="dashboard-menu">

      <button class="dashboard-link active">
        <i class="bi bi-house-door-fill"></i>
        <span>Inicio</span>
      </button>

      <button class="dashboard-link">
        <i class="bi bi-search"></i>
        <span>Explorar</span>
      </button>

      <button class="dashboard-link">
        <i class="bi bi-chat-dots-fill"></i>
        <span>Mensajes</span>
      </button>

      <button class="dashboard-link">
        <i class="bi bi-bell-fill"></i>
        <span>Actividad</span>
      </button>

      <button
        class="dashboard-link"
        (click)="goToProfile()">
        <i class="bi bi-person-fill"></i>
        <span>Perfil</span>
      </button>

      <button
        class="dashboard-link"
        (click)="openSettingsModal()">

        <i class="bi bi-gear-fill"></i>
        <span>Configuración</span>
      </button>

    </nav>
  </aside>

  <!-- MAIN -->
  <main class="dashboard-main">
    <div class="dashboard-search"> <!-- SEARCH -->
      <i class="bi bi-search"></i>
      <input
        type="text"
        placeholder="Buscar en TiPictos...">

    </div>

    <!-- EMPTY -->
    <div
      class="dashboard-empty"
      *ngIf="posts.length === 0"> <!--Genera la condición si el post esta vacio -->
      <i class="bi bi-image"></i>
      <h2>Tu feed está vacío</h2>
      <p>
        Sigue usuarios o crea publicaciones
        para comenzar
      </p>

    </div>

    <!-- CREATE POST -->
    <button
      class="dashboard-create-post"
      (click)="openCreatePost()">

      <i class="bi bi-plus-lg"></i>

    </button>

    <!-- POSTS -->
    <div
      class="feed-posts-grid"
      *ngIf="posts.length > 0">

      <div
        class="feed-post-card"
        *ngFor="let post of posts">

        <!-- OVERLAY -->
        <div class="feed-hover">

          <span>
            <i class="bi bi-heart"></i>
            {{ post.likes || 0 }}
          </span>

          <span>
            <i class="bi bi-chat"></i>
            {{ post.comments?.length || 0 }}
          </span>

          <span>
            <i class="bi bi-repeat"></i>
            {{ post.reposts || 0 }}
          </span>

        </div>

        <!-- IMAGE -->
        <img
          *ngIf="post.type === 'image'"
          [src]="post.image"
          (click)="openPostDetail(post)">

        <!-- TEXT -->
        <div
          *ngIf="post.type === 'text'"
          class="text-post"
          (click)="openPostDetail(post)">

          {{ post.description }}

        </div>
      </div>
    </div>
  </main>

  <!-- RIGHTBAR -->
  <aside class="dashboard-rightbar">

    <h3>Sugerencias</h3>

    <div
      class="suggest-user"
      *ngFor="let user of suggestedUsers">

      <div class="suggest-info">

        <div class="suggest-avatar">
          <i class="bi bi-person-circle"></i>
        </div>

        <div>
          <h4>{{ user.name }}</h4>
          <p>@{{ user.username }}</p>
        </div>

      </div>

      <button 
        [class.following]="isFollowing(user)"
        (click)="followUser(user)">
            {{ user.isFollowing ? 'Siguiendo' : 'Seguir' }}
      </button>
    </div>

  </aside>



  <!--______________________________________________    TOCANDO TERRENO MODAL _______________________________ -->
  <!-- CREATE POST MODAL -->
  <app-create-post
    *ngIf="activeModal === 'create' || activeModal === 'edit'"

    [mode]="editingPost ? 'edit' : 'create'"
    [postData]="editingPost"

    (close)="closeCreatePost()"
    (postCreated)="handleNewPost($event)">

  </app-create-post>


  <!-- SETTINGS MODAL -->
  <div
    *ngIf="showSettingsModal"
    class="overlay">

    <div class="glass-card settings-modal">
      <div class="settings-header">
        <h3>Configuración</h3>

        <button
          class="close-btn"
          (click)="closeSettingsModal()">
          ✕
        </button>
      </div>

      <div class="settings-options">

        <!-- DARK MODE -->
        <button
          class="settings-option"
          (click)="toggleTheme()">

          <i
            class="bi"
            [ngClass]="isDarkMode ? 'bi-sun-fill' : 'bi-moon-fill'">
          </i>

          <span>
            {{ isDarkMode ? 'Modo Claro' : 'Modo Oscuro' }}
          </span>

        </button>

        <!-- LOGOUT -->
        <button
          class="settings-option logout"
          (click)="logout()">

          <i class="bi bi-box-arrow-right"></i>

          <span>Cerrar sesión</span>
        </button>
      </div>
    </div>
  </div>





  <!-- POST DETAIL / POST REVIEW -->
  <div
    class="post-modal"
    *ngIf="activeModal === 'preview' && selectedPost"
    (click)="closePostDetail()">
    
    <div class="post-view-card"
      (click)="$event.stopPropagation()">

      <!-- CLOSE -->
      <button
        class="close-btn"
        (click)="closePostDetail()">

        <i class="bi bi-x-lg"></i>
      </button>

      <!-- MEDIA -->
      <div class="post-media">
        <!-- IMAGE -->
        <img
          *ngIf="selectedPost.type === 'image'"
          [src]="selectedPost.image"
          class="post-image">

        <!-- TEXT -->
        <div
          *ngIf="selectedPost.type === 'text'"
          class="text-post modal-text-post">

          <p>{{ selectedPost.description }}</p>
        </div>

      </div>

      <!-- CONTENT -->
      <div class="post-content">
        <div class="post-social"> <!-- SOCIAL -->

          <!-- LIKE -->
          <span (click)="toggleLike(selectedPost)">

            <i
              class="bi"
              [ngClass]="selectedPost.liked ? 'bi-heart-fill' : 'bi-heart'">
            </i>
            {{ selectedPost.likes || 0 }}
          </span>

          <!-- COMMENTS -->
          <span>
            <i class="bi bi-chat"></i>
            {{ selectedPost.comments?.length || 0 }}
          </span>

          <!-- REPOST -->
          <span (click)="repost(selectedPost)">

            <i
              class="bi"
              [ngClass]="selectedPost.repostedBy?.includes(username)
              ? 'bi-repeat text-success'
              : 'bi-repeat'">
            </i>

            {{ selectedPost.reposts || 0 }}

          </span>

        </div>

        <!-- DESCRIPTION -->
        <div class="post-description">
          <p>{{ selectedPost.description }}</p>

        </div>

        <!-- COMMENTS -->
        <div class="comments-section">
          <div class="comments-list">

            <div
              *ngFor="let c of selectedPost.comments"
              class="comment">

              <!-- AVATAR -->
              <div class="comment-avatar">

                <img
                  *ngIf="c.avatar"
                  [src]="c.avatar">

                <i
                  *ngIf="!c.avatar"
                  class="bi bi-person-circle">
                </i>

              </div>

              <!-- CONTENT -->
              <div class="comment-content">
                <span class="comment-user">
                  @{{ c.user }}
                </span>

                <p class="comment-text">
                  {{ c.text }}
                </p>

              </div>
            </div>
          </div>
        </div>

        <!-- INPUT -->
        <div class="comment-input-box">

          <input
            type="text"
            [(ngModel)]="newComment"
            placeholder="Escribe un comentario...">

          <button (click)="addComment(selectedPost)">
            <i class="bi bi-send-fill"></i>
          </button>
        </div>

        <!-- TAGS -->
        <div
          class="post-tags"
          *ngIf="selectedPost.hashtags?.length">

          <span *ngFor="let tag of selectedPost.hashtags">
            #{{ tag }}
          </span>

        </div>

        <small>
          {{ selectedPost.createdAt | date:'short' }}
        </small>
      </div>

      <!-- ACTIONS -->
      <div
        class="post-actions"
        *ngIf="selectedPost.user === username"> <!-- condición del autor del POST -->

        <!-- EDIT -->
        <button 
          class="edit-btn"
          (click)="editPost(selectedPost)">
          <i class="bi bi-pencil"></i>
        </button>

        <!-- DELETE -->
        <button 
          class="delete-btn"
          (click)="deletePost(selectedPost)">
          <i class="bi bi-trash"></i>
        </button>

      </div>
    </div>
  


    
    <!-- ============================= -->
    <!-- CONFIRM DELETE -->
    <!-- ============================= -->
  <div class="dashboard-confirm-modal" *ngIf="postToDelete">
    <div class="dashboard-confirm-card">

      <h3>¿Eliminar publicación?</h3>
      <p>Esta acción no se puede deshacer</p>

      <div class="dashboard-confirm-actions">
        <button class="dashboard-cancel" (click)="postToDelete=null">Cancelar</button>
        <button class="dashboard-delete" (click)="confirmDelete()">Eliminar</button>
      </div>

    </div>
  </div>

  




</div>